/* GENERAL */


@font-face
{
    font-family: 'ralewaythin';
    src:url('Raleway-VariableFont_wght.ttf') format('truetype'),
        url('font/raleway-variablefont_wght-webfont.woff2') format('woff2'),
        url('font/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
font-family:"Dancing Script";
src:url(font/DancingScript-VariableFont_wght.ttf);
}

a
{
    text-decoration:none
}




li
{
list-style: none;    
}


filter li:hover
{
    text-decoration: underline;  
}


.d-flex{
    display: flex;
}


h1
{
    font-size: 1.1em;
    font-weight: bold;
}

h2
{
    font-size: 1em;
    font-weight: bold;
}

h3
{
    font-size: 0.9em;
    font-weight: bold;
}

p
{
    font-size: 0.8em;
}





/* BODY */

body
{
    background-color:white ;
    font-family: 'ralewaythin', "Dancing Script",'Trebuchet MS', Arial, sans-serif;
    color: black;
    max-width: 1400px;
    margin: 0 auto;
}

/*header,
main,
footer{
    max-width: 1400px;
    margin: 0 auto;
}
*/



/* HEADER */


header
{
    justify-content: space-between;

}

header a
{
    color:#0065FC;
    font-size: 0.8em;
    font-weight: bold;
}


#headerNav ul li
{
  margin-right: 80px;

}




/* MAIN */

#BANNER
{
    padding-bottom: 20px;
       
}


form #submit
{
    background-color:blue;
    height: 40px;
    color: #F2F2F2;  
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -10px;
}

form #input
{
    height: 40px; 
    margin-right: 0px;
}


.fa-map-marker-alt
{
color:black;
background-color:#F2F2F2;
align-self: center;
padding: 11px;
border-top-left-radius:  10px;
border-bottom-left-radius:  10px;
border-style: solid;
border-width: 1px;
border-color: #c6c6c6;

}


/*fonctionne mais pas couleur fond gris
#searchLogo
{
	width: 1em;
	height: 1em;
    color: #0065FC;
    padding: 11px ; 
    border-style:solid;
    border-width: 0.5px;
    border-color:grey;
    border-top-left-radius:  15px;
    border-bottom-left-radius:  15px;
  }
*/


/*
#searchLogo
{
    border-style:solid;
    border-color: black;
    background-color:#F2F2F2 ;
    padding: 2px;
}
*/

form #input
{
    font-weight: bold;
} 

#filter
{
    font-weight: bold;
    width: 700px;
    height: auto;
}

.fa-ul
{
    display: flex;
    justify-content: space-between;

}

.filterItems
{
    border-style: solid ;
    border-color: aqua;
    border-width: 1px;
    border-radius: 10px ; 
    margin-left:10px ; 
    padding:0 10px 0 10px;
    
}

#filterTitle
{
    border-style: none ;
}


.fa-li
{


border-style: solid ;
border-color: aqua;
border-width: 1px;
border-radius: 10px ;
background-color: gray;  
padding:0 10px 0 10px; 

 
}


/*
.filterTxt
{
 
    border-style: solid ;
    border-color: aqua;
    border-width: 1px;
    border-radius: 10px ;
   
}
*/



/* maintenant on utilise fa-ul and fa-li
#filter ul
{
    padding-left:0;
    width: 800px;
    justify-content:space-between;
}
*/
/*essai precedent avec  image
.filtreButton
{
    border-style:solid;
    border-color: black;
    background-color:#F2F2F2 ;
    padding-left: 5px;
    padding-right: 5px;

    border-radius: 20px;
}
*/

.fa-info
{
color:#0065FC;
font-size:0.6em ;

align-self: center;
padding: 2px 5px 2px 5px;
border-radius:  10px;

border-style: solid;
border-width: 1px;
margin-right: 6px;
border-color: #F2F2F2;
/*border-color: #c6c6c6;
background-color:#F2F2F2;*/

}

/*arrive pas taille/align
.fa-info
{
    color: #0065FC;
    padding: 2px 7px 2px 7px ; 
    border-style:solid;
    border-width: 1px;
    border-color:#F2F2F2;
    border-radius: 15px;
    margin-right: 10px;
    size: 0.8em
    
}


#info
{
    justify-content:flex-start;   
    align-items: baseline;
    size: 0.8em;
}


#info img
{
	width: 0.8em;
	height: 0.8em;
    color: #0065FC;
    padding: 2px 2px 2px 2px ; 
    border-style:solid;
    border-width: 1px;
    border-color:#F2F2F2;
    border-radius: 15px;
    margin-right: 10px;
}
*/

/*


.fa-info
{
color: #0065FC;
padding: 0 5px 2px 5px;
margin: 0 5px 0 5px;
border-style: solid;
border-color: navy;
border-radius: 10px;
justify-self: start;
}
*/




#LODGING
{
padding-top: 20px;
justify-content: space-between;
    
    
}



article, aside
{
background-color:lemonchiffon;
padding:30px; 
    
}


#thisTown-image1
{
    width: 180px;
    height: 130px;
    
    border-style: double;
    border-color: teal;
    background: url("/images/marcus-loke-WQJvWU_HZFo-unsplash.jpg") no-repeat;
    position: relative;
    
}

#thisTown_description1
{
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 30px;
    padding-top: 10px;
    
    background-color: rgba(24,24,24,0.8);
    color: white;
    text-align: start;
    font-size: 0.6em;
    
}



/*
article
{
width: 600;  
}

aside
{
width: 400;  
} */ 

#ACTIVITY h2
{
    font-size: 1.1em;
    font-weight: bold;
    
    
}




/* FOOTER */
#footerNav
{
    justify-content:flex-start;
     
}

#footerNav ul
{
    width: 300px;
    padding-left:0;

}

#footerNav h3
{
   
    margin-bottom: 8px;
}

#footerNav ul li
{
    padding-bottom:5px;
    
}


/*commentaire
.class
#id
*/