/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/*
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*/

a
{
    text-decoration:none
}

li
{
list-style: none;    
}

.d-flex{
    display: flex;
}

h1
{
    font-size: 1.2em;
    font-weight: 700;
}

h2
{
    font-size: 1.1em;
    font-weight: 700;
}

h3
{
    font-size: 1em;
    font-weight: 700;
}

p
{
    font-size: 0.9em;
    font-weight: 400;
}





/* <!---------------------------- BODY ----------------------------> */

body
{
    background-color:white ;
    font-family: 'Raleway', sans-serif;
    color: black;
    max-width: 1400px;
    margin: 0 auto;
}





/* <!----------------HEADER----------------> */


header
{
    margin: 40px 0 30px 0;
    justify-content: space-between;
}

#headerNav
{
    width: 350px;
}

#headerNav ul{
    justify-content: space-between;
    padding: 0;
}

#headerNav li a
{
    font-size: 0.8em;
    font-weight: 400;
    color:#0065FC;
}

#headerNav li:nth-child(2) a
{
    color:#000;
}

#headerNav li:nth-child(3) a
{
   font-weight: 700;
}

#headerNav li a:hover
{
    color:#0065FC;
    font-weight: 700;
}


/* <!----------------MAIN----------------> */

#BANNER
{
    
}

#search, #filter
{
    margin-bottom: 10px;
}


.fa-map-marker-alt
{
color:black;
background-color:#F2F2F2;
align-self: center;
padding: 12px;
border-top-left-radius:  10px;
border-bottom-left-radius:  10px;
border-style:none;
}

form #input
{
    height: 40px; 
    margin-right: 0px;
    font-weight: 700;
    border-style: solid;
    border-color: #F2F2F2;
    padding-left: 10px;
}

form #submit
{
    background-color:#0065FC;
    height: 40px;
    color: #F2F2F2;  
    border-style: solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -10px;
}


#filter
{

    font-weight: 700;
    width: 900px;
    height: auto;
    align-items: center;
}

filter li:hover
{
    text-decoration: underline;  
}

.fa-ul
{
    display: flex;
    justify-content: space-between;

}

.filterItems i{
    padding: 12px 10px;
    background-color: #F2F2F2;
    color:#0065FC;
    border-radius: 50%;
    height: 18px;
    width: 21px;
    text-align: center;
}

.filterTxt{
    border: 1px solid #F2F2F2;
    padding: 10px 10px 11px 24px;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: -17px;
    margin-right: 17px;
}


.fa-info
{
color:#0065FC;
font-size:0.6em ;

align-self: center;
padding: 4px 7px;
border-radius:  20px;

border-style: solid;
border-width: 1px;
margin-right: 6px;
border-color: #F2F2F2;


}






/*-------------LODGING------------*/

#LODGING
{
padding-top: 20px;
justify-content:space-around;
    
    
}


article
{
background-color:lemonchiffon;
padding:30px; 
border-radius: 20px;
border-style: solid;
border-color: indigo;
flex: 2;
margin-right: 40px;

}

aside
{
background-color:lemonchiffon;
padding:30px; 
border-radius: 20px;
border-style: solid;
border-color: indigo;
flex: 1;


}

/*
article
{
width: 600;  
}

aside
{
width: 400;  
} */ 



#thisTownPictures
{
    border-style: solid;
    border-color: greenyellow;
    height: auto;

}



#thisTownLine1, #thisTownLine2
{
    border-style: solid;
    border-color:lightslategray;
    justify-content: space-around;
    height: 180px;
   
}



#thisTownImage1, #thisTownImage2, #thisTownImage3, #thisTownImage4, #thisTownImage5, #thisTownImage6
{
    width: 225px;
    height: 150px;
    border-style: double;
    border-color: teal;
    border-radius: 10px;

    background: url("images/marcus-loke-WQJvWU_HZFo-unsplash.jpg") no-repeat;
    background-size: contain;
    position: relative;
    

}

#thisTownDescription1, #thisTownDescription2, #thisTownDescription3, #thisTownDescription4, #thisTownDescription5, #thisTownDescription6
{
    position: absolute;
    bottom: 0;
    line-height:0.2em;
    width: 100%;
    height: 50px;
    
    
    background-color: white;
    color: black;
    text-align:center;
    font-size: 0.8em;

    

}




#thisTownLine2
{
    border-style: solid;
    border-color:indianred;
    justify-content: space-around;

}




/*recommence tout
#thisTown-image1
{
    width: 180px;
    height: 130px;
    
    border-style: double;
    border-color: teal;
    background: url("/images/marcus-loke-WQJvWU_HZFo-unsplash.jpg") no-repeat;
    position: relative;
    
}

#thisTown_description1
{
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 30px;
    padding-top: 10px;
    
    background-color: rgba(24,24,24,0.8);
    color: white;
    text-align: start;
    font-size: 0.6em;
    
}
*/

/*<!--partie aside (hebergement volet droit : heb populaire)-->*/

#popLodgingRank1, #popLodgingRank2, #popLodgingRank3
{

    background-color:teal;
    padding: 8px;
    border-radius: 15px;
    margin:10px;
    
    
}

#imageRank1
{
    width: 120px;
    height: 120px;
    background-image:url(images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size:cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

#imageRank2
{
    width: 120px;
    height: 120px;
    background-image:url(images/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size:cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

#imageRank3
{
    width: 120px;
    height: 120px;
    background-image:url(images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size:cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

#TextRank1, #TextRank2, #TextRank3
{
    width: 120px;
    height: 120px;
    padding-left: 15px;
}





/*<!--partie activity-->*/

#ACTIVITY h2
{
    font-size: 1.1em;
    font-weight: 700;

    
}

#ACTIVITY, #activityTitle, #activityPictures
{

    border-style: double;
    border-color: teal;  
    
}


#activityPictures
{
    width: auto;
    height: 400px;
    justify-content: space-between;
}

#actColumn1
{
    border-style: double;
    border-color:cornflowerblue; 
}

    #activityImage1
{
    width: 200px;
    height: 300px;
    background-image:url(images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size:cover;
}


#actColumn2
{
    border-style: double;
    border-color:cornflowerblue; 


}

#actColumn3
{
    border-style: double;
    border-color:cornflowerblue; 
}

#activityImage4
{
    width: 200px;
    height: 300px;
    background-image:url(images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size:cover;
 }




#actColumn4
{
    border-style: double;
    border-color:cornflowerblue; 


}





/* FOOTER */
#footerNav
{
    justify-content:flex-start;
     
}

#footerNav ul
{
    width: 300px;
    padding-left:0;

}

#footerNav h3
{
   
    margin-bottom: 8px;
}

#footerNav ul li
{
    padding-bottom:5px;
    
}


/*commentaire
.class
#id
*/