/* GENERAL */


@font-face
{
    font-family: 'ralewaythin';
    src:url('Raleway-VariableFont_wght.ttf') format('truetype'),
        url('font/raleway-variablefont_wght-webfont.woff2') format('woff2'),
        url('font/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
font-family:"Dancing Script";
src:url(font/DancingScript-VariableFont_wght.ttf);
}

a
{
    text-decoration:none
}


nav ul
{
    padding:0;
}

li
{
list-style: none;    
}


filter li:hover
{
    text-decoration: underline;  
}




header,
main,
footer{
    max-width: 1400px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}


body
{
    background-color:white ;
    font-family: 'ralewaythin', "Dancing Script",'Trebuchet MS', Arial, sans-serif;
    color: black;
}


/* HEADER */


/* MAIN */



/* FOOTER */



/*commentaire
.class
#id
*/